<!-- Modal -->
<div class="modal fade" id="meinModal" tabindex="-1" role="dialog" aria-labelledby="meinModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Schließen"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="meinModalLabel">Satzung der SuS Oberen Saar e.V.</h4>
            </div>
            <div class="modal-body">
                <!-- ###########################Automatisch generiert!############################################################### -->

                <h3 class="sectionHead"><span class="titlemark">1   </span> <a
                        id="x1-10001"></a>Name, Sitz, Geschäftsjahr</h3>
                <!--l. 16--><p class="noindent">Der Verein trägt den Namen Schwimm- und Sportfreunde Obere Saar e.V. und
                wurde am 19. Dezember 1992 gegründet. Er ist im Vereinsregister des
                Amtsgerichts Saarbrücken eingetragen. Die Abkürzung des Vereinsnamens lautet</p>
                &#8222;SuS&#8220; e.V..
                <!--l. 20--><p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">2   </span> <a
                        id="x1-20002"></a>Zweck</h3>
                <!--l. 21--><p class="noindent">Zweck des Vereins ist die Aufstellung und Durchführung des
                Rettungswachedienstes
                im Freibad Kleinblittersdorf zur Abwendung des Ertrinkungstodes und Gefahren
                für die Besucher im Freibad Kleinblittersdorf. Ferner die sportliche Förderung
                seiner Mitglieder im Breitensport, hier speziell in denen im Verein bestehenden
                Abteilungen.<br
                        class="newline"/>Die SuS e.V. verfolgen ausschließlich und unmittelbar gemeinnützige Zwecke im
                Sinne der <span
                        class="cmsy-10x-x-120">§§ </span>51 ff Abgabenordnung. Der Satzungszweck wird insbesondere durch
                Förderung der körperlichen Ertüchtigung der Mitglieder verwirklicht. Der Verein
                ist selbstlos tätig; er verfolgt nicht in erster Linie eigenwirtschaftliche
                Zwecke. Mittel des Vereins dürfen nur für die satzungsmäßigen Zwecke
                verwandt werden. Die Mitglieder erhalten keine Zuwendungen aus Mitteln des
                Vereins.
                <!--l. 32-->
                <p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">3   </span> <a
                        id="x1-30003"></a>Mitgliedschaft</h3>
                <!--l. 33--><p class="noindent">Mitglied bei den SuS e.V. kann jede Person bzw. Familie werden, die im
                Besitz
                der bürgerlichen Ehrenrechte ist. Über das schriftlich dem Vorstand bekannt
                zugebende Beitrittsgesuch entscheidet der Vorstand binnen zwei Wochen. Die
                Ablehnung der Mitgliedschaft bedarf der ausdrücklichen Schriftform. Durch
                Beitrittserklärung wird die Satzung der SuS e.V. anerkannt.
                <!--l. 39-->
                <p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">4   </span> <a
                        id="x1-40004"></a>Mitgliedsbeitrag; Streichung aus der Mitgliederliste</h3>

                <!--l. 40--><p class="noindent">Der Mitgliedsbeitrag wird pro Abteilung in DM erhoben. Seine Höhe
                bestimmt
                die Mitgliederversammlung. Er ist am 1. Februar eines Jahres zur Zahlung
                fällig.<br
                        class="newline"/>Ein Mitglied, das länger als drei Monate mit einem Jahresbeitrag in Rückstand
                ist, wird schriftlich an die fällige Zahlung erinnert. Wird bis zum 30.6. des Jahres
                die fällige Beitragszahlung nicht erbracht, so verliert das Mitglied die
                Mitgliedsrechte mit sofortiger Wirkung. Die Beitragsschuld bleibt anteilig
                bestehen. Ein Versicherungsschutz besteht nur für Mitglieder, die ihren Beitrag
                fristgerecht entrichtet haben.<br
                        class="newline"/>Ehrenmitglieder sind von der Beitragszahlung befreit.
                <!--l. 48-->
                <p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">5   </span> <a
                        id="x1-50005"></a>Austritt; Ausschluss</h3>
                <!--l. 49--><p class="noindent">Der Austritt aus dem Verein ist nur zum Ende des Geschäftsjahres
                möglich. Die
                Austrittserklärung muss schriftlich abgefasst sein und muss bis zum 30. November
                einem Vorstandsmitglied im Sinne des <span
                        class="cmsy-10x-x-120">§ </span>7 Abs. 1 zugehen. Ein ausgetretenes
                Mitglied hat keinen Anspruch auf einen Anteil am Vereinsvermögen.<br
                        class="newline"/>Ein Mitglied kann aus dem Verein ausgeschlossen werden, wenn es vorsätzlich den
                Interessen des Vereins zuwiderhandelt. Der Antrag auf Ausschluss kann von jedem
                Mitglied gestellt werden. Er ist drei Wochen vor der Mitgliederversammlung an
                den geschäftsführenden Vorstand einzureichen. Der Antrag bedarf der Schriftform
                mit ausreichender Begründung. Der Antrag auf Ausschluss ist dem betroffenen
                Mitglied zwei Wochen vor der Mitgliederversammlung in Abschrift zu
                übersenden. Über den Ausschluss entscheidet die Mitgliederversammlung mit 2/3
                Mehrheit.<br
                        class="newline"/>Erlischt die Mitgliedschaft oder tritt ein Mitglied aus seinem Amt zurück, so
                sind
                alle in Besitz befindlichen, vereinseigenen Gegenstände und Unterlagen der SuS
                e.V. zurückzugeben.<br
                        class="newline"/>Das Amt eines Mitgliedes des Vorstandes endet mit seinem Ausscheiden oder
                Ausschluss aus dem Verein.
                <!--l. 63-->
                <p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">6   </span> <a
                        id="x1-60006"></a>Organe</h3>
                <!--l. 64--><p class="noindent">Organe des Vereins sind die Mitgliederversammlung und der Vorstand.

                <!--l. 66-->
                <p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">7   </span> <a
                        id="x1-70007"></a>Vorstand</h3>
                <!--l. 69--><p class="noindent">Vorstand im Sinne des <span
                    class="cmsy-10x-x-120">§ </span>26 BGB sind der 1. Vorsitzender, der 2. Vorsitzende,
                der Kassierer sowie der Schriftführer. Sie bilden den geschäftsführenden
                Vorstand.<br
                        class="newline"/>Der Vorstand führt die Geschäfte des Vereins ehrenamtlich.<br
                        class="newline"/>Dem Vorstand im Innenverhältnis &#8211; erweiterter Vorstand &#8211; können
                angehören:
                <ul class="itemize1">
                    <li class="itemize">Abteilungsleiter
                    </li>
                    <li class="itemize">Jugendbetreuer</li>
                </ul>
                <!--l. 78--><p class="noindent">Der Vorstand ist dazu verpflichtet, die in der Mitgliederversammlung
                gefassten
                Beschlüsse nach den rechtlichen und finanziellen Möglichkeiten auszuführen.<br
                        class="newline"/>Die Mitglieder des Vorstandes werden in der Mitgliederversammlung für die Dauer
                von zwei Jahren gewählt:
                <ul class="itemize1">
                    <li class="itemize">Der 1. Vorsitzende ist der oberste Repräsentant der SuS e.V..
                    </li>
                    <li class="itemize">Der 2. Vorsitzende
                        ist für die Organisation des ordnungsgemäßen Wettkampfbetriebes der
                        Abteilungen verantwortlich. Ihm obliegen ferner die Organisation und
                        Durchführung vereinsinterner, abteilungsübergreifender
                        Veranstaltungen sowie externer Veranstaltungen, die dem Wohl des
                        Vereins dienlich sind.
                    </li>
                    <li class="itemize">Der Kassierer ist für die ordnungsgemäße Vermögensverwaltung
                        verantwortlich. Er hat darauf zu achten, dass sich die SuS e.V. nicht
                        verschulden.
                    </li>
                    <li class="itemize">Der Schriftführer hat während den Sitzungen Protokoll zu führen. Die
                        Protokolle sind dem Vorstand vorzulegen.
                    </li>
                    <li class="itemize">Jede Abteilung wird im Vorstand durch einen
                        in der Mitgliederversammlung gewählten Abteilungsleiter vertreten.
                        Die Abteilungsleiter gehören dem erweiterten Vorstand an und haben
                        uneingeschränktes Stimmrecht. Sie sind für die Durchführung und
                        Organisation des geordneten Trainingsbetriebes verantwortlich.
                    </li>
                    <li class="itemize">Ist in einer Abteilung Wettkampfbetrieb im
                        Schüler- bzw. Jugendbereich vorhanden, kann ein Jugendbetreuer für
                        die jeweilige Abteilung gewählt werden.

                    </li>
                    <li class="itemize">Tritt ein Vorstandsmitglied zurück, so ist der vom Vorstand eingesetzte
                        Nachfolger bis zur nächsten Mitgliederversammlung ins Amt bestellt.
                    </li>
                </ul>
                <!--l. 100--><p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">8   </span> <a
                        id="x1-80008"></a>Mitgliederversammlung</h3>
                <!--l. 101--><p class="noindent">Die Mitgliederversammlung ist zuständig für:
                <ul class="itemize1">
                    <li class="itemize">Satzungsänderungen
                    </li>
                    <li class="itemize">Die Wahl des Vorstandes sowie dessen Entlastung
                    </li>
                    <li class="itemize">Die Bestätigung und Neufestsetzung des Mitgliedsbeitrages
                    </li>
                    <li class="itemize">Die Ausschließung eines Mitgliedes
                    </li>
                    <li class="itemize">Die Auflösung des Vereines
                    </li>
                    <li class="itemize">Ernennung von Ehrenmitgliedern
                    </li>
                    <li class="itemize">Wahl der Kassenprüfer
                    </li>
                    <li class="itemize">Änderungen der Geschäftsordnung</li>
                </ul>
                <!--l. 112--><p class="noindent">Jährlich hat eine Mitgliederversammlung stattzufinden. Eine
                außerordentliche
                Mitgliederversammlung muss einberufen werden, wenn es das Interesse des
                Vereins erfordert. Zuständig für die Festsetzung und Einberufung der
                Mitgliederversammlung ist der jeweilige Vorstand.<br
                        class="newline"/>Die Mitgliederversammlung ist vier Wochen vorher unter Bekanntgabe der
                Tagesordnung in den Kleinblittersdorfer Nachrichten einzuberufen.<br
                        class="newline"/>Satzungsänderungen können nur mit einer 2/3 Mehrheit der anwesenden
                stimmberechtigten Mitglieder erfolgen. Die Änderung des Vereinszweckes gem. <span
                        class="cmsy-10x-x-120">§ </span>2
                erfordert eine dreiviertel Mehrheit der anwesenden stimmberechtigten

                Mitglieder.<br
                        class="newline"/>Die Entlastung des Vorstandes erfolgt jährlich auf Vorschlag eines Mitglieds
                und
                wird von der Mitgliederversammlung &#8211; einfache Mehrheit &#8211; ausgesprochen.<br
                        class="newline"/>Bei sonstigen Abstimmungen entscheidet die einfache Mehrheit.
                <!--l. 123-->
                <p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">9   </span> <a
                        id="x1-90009"></a>Beurkundung von Beschlüssen</h3>
                <!--l. 124--><p class="noindent">Über die Mitgliederversammlung sowie jede Vorstandssitzung ist ein
                Protokoll zu
                fertigen, das vom Protokollführenden und dem Vorsitzenden zu unterzeichnen ist
                und in der nächsten Mitgliederversammlung bzw. Vorstandssitzung vorgelegt und
                genehmigt wird.
                <!--l. 128-->
                <p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">10   </span> <a
                        id="x1-1000010"></a>Auflösung</h3>
                <!--l. 129--><p class="noindent">Über die Auflösung des Vereins kann nur in einer mit diesem
                Tagesordnungspunkt
                einberufenen außerordentlichen Mitgliederversammlung Beschluss gefasst werden.
                Hierfür ist eine 2/3 Mehrheit der anwesenden stimmberechtigten Mitglieder
                erforderlich.<br
                        class="newline"/>Bei Auflösung der Vereins fallen das Kapital sowie die erworbenen Geräte an
                einen Verein mit gleichgelagerten Vereinszweck zu.<br
                        class="newline"/>Wird die erforderliche Mehrheit nicht erreicht, besteht die Möglichkeit, nach
                vier
                Wochen eine erneute Mitgliederversammlung mit geringeren Erfordernissen in der
                Mehrheitsfindung einzuberufen. Hierbei ist die einfache Mehrheit zur
                Vereinsauflösung ausreichend.
                <!--l. 138-->
                <p class="noindent">
                <h3 class="sectionHead"><span class="titlemark">11   </span> <a
                        id="x1-1100011"></a>In Kraft treten</h3></p>
                <!--l. 139--><p class="noindent">Vorstehende Satzung wurde am 02.06.1993 neugefasst und in Kraft
                gesetzt.</p>

                <!-- ################################################################################################################################################################ -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>