<div class="footer">
    <div class="container">
        <p style="padding-top:5px" class="text-center">&copy; 2015 &middot;
            <a href="/kontakt/kontakt.html">Kontakt</a> &middot;
            <a href="/kontakt/impressum.html">Impressum</a>
        </p>
    </div>
</div>



