<script>
    $(document).ready(function () {
        var s = window.location.pathname;
        s = s.substring(0, s.lastIndexOf('/') + 1);
        $('li[id="' + s + '"]').addClass('active');
        if (s == "/") {
            $('nav[id=navbar]').addClass('navbar-static-top');
        } else {
            $('nav[id=navbar]').addClass('navbar-fixed-top');
        }
    });
</script>

<div class="navbar-wrapper">
    <div class="container">
        <nav id="navbar" class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Navigation ein-/ausblenden</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/index.html">SuS Obere Saar</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li id="/"><a href="/index.html"><span class="glyphicon glyphicon-home"></span></a></li>

                        <li class="dropdown" id="/aktuelles/">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aktuelles<b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/aktuelles/news.html">News</a></li>
                                <li><a href="/aktuelles/veranstalltungen.html">Veranstalltungen</a></li>
                                <li><a href="/aktuelles/suedwestdeutsche-rangliste-15.html">Südwestdeutsche
                                    Rangliste</a></li>
                            </ul>
                        </li>

                        <li class="dropdown" id="/verein/">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Verein<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="/verein/aboutus.html">Wir über uns</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Training</li>
                                <li><a href="/verein/training.html">Trainingzeiten</a></li>
                                <li><a href="/verein/trainer.html">Trainer</a></li>
                                <li class="divider"></li>
                                <li class="dropdown-header">Mediacenter</li>
                                <li><a href="/verein/galerie.html">Fotogalerie</a></li>
                            </ul>
                        </li>

                        <li class="dropdown" id="/mannschaften/">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mannschaften<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">Mannschaften</li>
                                <li><a href="/mannschaften/aktive.html">Aktive</a></li>
                                <li><a href="/mannschaften/jugend.html">Jugend</a></li>
                                <li><a href="/mannschaften/schueler.html">Schüler</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    </div>
</div>
